<nav class="navbar navbar-dark bg-dark">
  <a href="" class="navbar-brand navbar-text" routerLink="/">
    NibbleCoin
  </a>

  <div class="ml-auto">
    <button class="btn btn-outline-light" routerLink="/settings">Settings</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="new-transaction">Create transaction</button>

    &nbsp;
    <button class="btn btn-outline-light" routerLink="pending-transactions">Pending Transactions</button>
  </div>
</nav>

<router-outlet></router-outlet>